{{page-title "Author"}}
<div class="panel-heading">
    <div class="search">
        <input type="text" placeholder="Search by Author Name">
    </div>

    <a href>
        <div class="sr-only">Add New Author</div>
    </a>
</div>

<div class="panel-content">
    <h3 class="panel-title">Authors</h3>
    <ul class="collection">
    {{#each this.model as |author|}}
        <li><a href>{{author.firstName}} {{author.lastName}}</a></li>
    {{/each}}
    </ul>
</div>
{{outlet}}
